{
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "comma-dangle": "off",
    "react/destructuring-assignment": 0,
    "import/prefer-default-export": 0,
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 200],
    "implicit-arrow-linebreak": ["error", "beside"],
    "prefer-promise-reject-errors": "off",
    "no-use-before-define": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
