.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    padding: 12px 17px;
    font-size: 16px;
    border-radius: 6px;
    margin-left: 5px;
    font-weight: bold;
    -webkit-transition: .2s;
    transition: .2s;
    &:hover, &.active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
